Django==3.2.9
ImageHash==4.3.2
numpy==1.26.4
opencv-python-headless==4.8.0.76  # Use this instead of contrib
Pillow==11.2.1
tensorflow==2.10.1
gunicorn==23.0.0
whitenoise>=6.6.0
requests
huggingface_hub

